<!DOCTYPE html>
<html>
    <head>
        <title> help </title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
         <div class="main-content">
                      {{>header}}
        <h1>Help message for the Weather App</h1>
        <p> {{helpMessage}} </p>
        </div>
    
        {{>footer}}
    </body>
</html>